
.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    width: 100%;
}

.footer .copyright {
    font-family: "Noto Serif", serif;
    font-weight: 300;
    font-size: 12px;
    color: gray;
    margin: 0;
    text-align: center;
}