
.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #9c9c9c;

    height: 100vh;
}
.landing::before,
.landing::after {
    content: "";
    flex: 1;
}
.landing::before {
    background-color: #9c9c9c;
}
.landing::after {
    /*background-color: #eeeeee;*/
    background-color: #9c9c9c;
}

.landing > .posts {
    display: flex;
    flex-direction: column;

    margin: 80px 40px 80px 40px;
    min-width: 1080px;
    max-width: 1080px;
}

.landing > .posts .content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}