
.postcard {
    display: flex;
    flex-direction: column;
    row-gap: 18px;

    background-color: white;

    box-shadow: none;
    transition: box-shadow 0.15s;
    padding: 50px;
    border-radius: 8px;
}

.postcard:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.postcard.mobile {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.postcard > .abstract {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    font-family: "Noto Serif", serif;
    font-weight: 300;
    font-size: 18px;
}

.postcard > .abstract .title {
    font-weight: 400;
    font-size: 32px;
    color: black;
    transition: color 0.15s;
}

.postcard > .abstract .description {
    color: gray;
}

.postcard > .metadata {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    row-gap: 20px;
    align-items: baseline;
    flex-wrap: wrap;
    min-width: 200px;
    color: gray;
}
.postcard.mobile .metadata {
    row-gap: 18px;
    justify-content: space-between;
}
.postcard.mobile .metadata.open {
    flex-direction: column;
}
.postcard > .metadata .date {
    font-family: "Noto Serif", serif;
    font-size: 19px;
    font-weight: 300;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 10px;
}

.postcard.mobile .metadata .date {
    font-size: 16px;
    column-gap: 8px;
}

.postcard .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}
.postcard.mobile .tags {
    font-size: 14px;
    color: gray;
    justify-content: space-between;
}
.postcard.mobile .metadata .tag-label {
    font-family: "Noto Serif", serif;
    font-size: 16px;
    font-weight: 300;
    color: black;
    border-bottom: 1px solid gainsboro;
    white-space: preserve;
}
.postcard.mobile .tags i {
    font-size: 16px;
}

.postcard .tag {
    font-family: "JetBrains Mono", monospace;
    font-weight: 200;
    transition: color 0.15s;

    /* Visually align text baseline with the date */
    transform: translateY(-2.5%);
}
.postcard > .metadata .tag.selected {
    color: orange;
}
.postcard > .metadata .tag:hover {
    cursor: pointer;
    color: gainsboro;
}
.postcard > .metadata .tag.selected:hover {
    cursor: pointer;
    color: orange;
}

/* Mobile */

.postcard.mobile {

}

.postcard.mobile .abstract {

}

.postcard.mobile .abstract .title {
    font-size: 28px;
}

.postcard.mobile .abstract .description {
    font-size: 16px;
    color: gray;
}

.postcard.mobile .metadata {

}

.postcard.mobile .metadata .date {
}
