body {
    color: black;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 720px;
    min-height: 100%;
    overflow-wrap: break-word;
}

h1 {
    display: block;
    font-size: 2em;
    margin: 0 auto;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

header {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.directory-tree ul {
    line-height: 30px;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px dashed #ddd;
    text-decoration: none;
}

.directory-tree a {
    text-decoration: none;
}

.directory-tree li {
    list-style: none;
    color: #888;
    font-size: 17px;
    font-weight: normal;
    text-decoration: none;
}

.directory-tree .folder {
    border-bottom: 1px solid transparent;
    color: #888;
    transition: all 0.2s ease;
    color: #777;
    text-decoration: none;
    font-weight: bold;
}

.directory-tree .folder:hover {
    cursor: default;
}

.directory-tree li:before {
    margin-right: 5px;
    content: "";
    height: 20px;
    vertical-align: middle;
    width: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightgrey' d='M85.714,42.857V87.5c0,1.487-0.521,2.752-1.562,3.794c-1.042,1.041-2.308,1.562-3.795,1.562H19.643 c-1.488,0-2.753-0.521-3.794-1.562c-1.042-1.042-1.562-2.307-1.562-3.794v-75c0-1.487,0.521-2.752,1.562-3.794 c1.041-1.041,2.306-1.562,3.794-1.562H50V37.5c0,1.488,0.521,2.753,1.562,3.795s2.307,1.562,3.795,1.562H85.714z M85.546,35.714 H57.143V7.311c3.05,0.558,5.505,1.767,7.366,3.627l17.41,17.411C83.78,30.209,84.989,32.665,85.546,35.714z' /></svg>");
    background-position: center 2.5px;
    background-size: 60% auto;
}

.directory-tree li:hover  {
    cursor: pointer;
}

.directory-tree li.folder:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>");
    background-position: center top;
    background-size: 75% auto;
}


/* SECTION: Language syntax hightlighting ------------------------------------------------------ */

/* general */
pre[class*="language-"] {
    background-color: rgb(43, 43, 43);

    margin: 0em;
    padding: 1em;

    border-radius: 10px;

    -moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"] .token-line {
    margin: 0;
    padding: 0;
}


/* language: cpp */

/* base */
pre.language-cpp .token 
{
    color: rgb(169, 183, 198);
}

/* comments */
pre.language-cpp .token.comment 
{
    color: rgb(128, 128, 128);
}

/* keywords */
pre.language-cpp .token.keyword,
pre.language-cpp .token.boolean 
{
	color: rgb(206, 136, 70);
}

/* strings */
pre.language-cpp .token.string,
pre.language-cpp .token.char
{
    color: rgb(106, 135, 89);
}

/* preprocessor directives */
pre.language-cpp .token.macro.property.directive-hash,
pre.language-cpp .token.macro.property.directive
{
    color: rgb(187, 181, 41);
}
pre.language-cpp .token.macro.property.macro-name 
{
    color: 	rgb(144, 139, 37);
}

/* functions */
pre.language-cpp .token.function 
{
    color: 	rgb(255, 198, 109);
}

/* class names */
pre.language-cpp .token.class-name,
pre.language-cpp .token.namespace-name
{
    color: rgb(181, 182, 227);
}

/* numbers */
pre.language-cpp .token.number,
pre.language-cpp .token.symbol
{
    color: rgb(104, 151, 187);
}

pre.language-cpp .token.constant,
pre.language-cpp .token.member-variable
{
    color: rgb(152, 118, 170);
}

/* 
code[class*="language-"],
pre[class*="language-"] {
	color: #a9b7c6;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, 
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, 
code[class*="language-"] ::-moz-selection {
	color: inherit;
	background: rgba(33, 66, 131, .85);
}

pre[class*="language-"]::selection, 
pre[class*="language-"] ::selection,
code[class*="language-"]::selection, 
code[class*="language-"] ::selection {
	color: inherit;
	background: rgba(33, 66, 131, .85);
}

pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2b2b2b;
}

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.macro.property {
    color: rgba(255, 0, 0)
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #808080;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #cc7832;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #a9b7c6;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #e8bf6a;
}

.token.entity,
.token.number,
.token.symbol {
	color: #6897bb;
}

.token.property,
.token.constant,
.token.variable {
	color: #9876aa;
}

.token.string,
.token.char {
	color: #6a8759;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #a5c261;
}

.token.attr-value .punctuation:first-child {
	color: #a9b7c6;
}

.token.url {
	color: #287bde;
	text-decoration: underline;
}

.token.function {
	color: #ffc66d;
}

.token.regex {
	background: #364135;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #294436;
}

.token.deleted {
	background: #484a4a;
}

pre.language-cpp .token.property {
	color: #a9b7c6;
    margin: 2em;
}

code.language-css .token.id {
	color: #ffc66d;
}

code.language-css .token.selector > .token.class,
code.language-css .token.selector > .token.attribute,
code.language-css .token.selector > .token.pseudo-class,
code.language-css .token.selector > .token.pseudo-element {
	color: #ffc66d;
}
*/