body {
    color: black;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 720px;
    min-height: 100%;
    overflow-wrap: break-word;
}

h1 {
    display: block;
    font-size: 2em;
    margin: 0 auto;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

header {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.directory-tree ul {
    line-height: 30px;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px dashed #ddd;
    text-decoration: none;
}

.directory-tree a {
    text-decoration: none;
}

.directory-tree li {
    list-style: none;
    color: #888;
    font-size: 17px;
    font-weight: normal;
    text-decoration: none;
}

.directory-tree .folder {
    border-bottom: 1px solid transparent;
    color: #888;
    transition: all 0.2s ease;
    color: #777;
    text-decoration: none;
    font-weight: bold;
}

.directory-tree .folder:hover {
    cursor: default;
}

.directory-tree li:before {
    margin-right: 5px;
    content: "";
    height: 20px;
    vertical-align: middle;
    width: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightgrey' d='M85.714,42.857V87.5c0,1.487-0.521,2.752-1.562,3.794c-1.042,1.041-2.308,1.562-3.795,1.562H19.643 c-1.488,0-2.753-0.521-3.794-1.562c-1.042-1.042-1.562-2.307-1.562-3.794v-75c0-1.487,0.521-2.752,1.562-3.794 c1.041-1.041,2.306-1.562,3.794-1.562H50V37.5c0,1.488,0.521,2.753,1.562,3.795s2.307,1.562,3.795,1.562H85.714z M85.546,35.714 H57.143V7.311c3.05,0.558,5.505,1.767,7.366,3.627l17.41,17.411C83.78,30.209,84.989,32.665,85.546,35.714z' /></svg>");
    background-position: center 2.5px;
    background-size: 60% auto;
}

.directory-tree li:hover  {
    cursor: pointer;
}

.directory-tree li.folder:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>");
    background-position: center top;
    background-size: 75% auto;
}


/* SECTION: Language syntax hightlighting ------------------------------------------------------ */

/* general */
pre[class*="language-"] {
    background-color: rgb(43, 43, 43);
    color: rgb(169, 183, 198);

    display: flex;
    flex-direction: row;
    flex-grow: 1;

    margin: 0em;
    padding: 1em;
    border-radius: 10px;

    -moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"] .meta {
    margin: 0;
    padding: 0em;

    display: inline-flex;
    flex-direction: column;
}

pre[class*="language-"] .code {
    margin: 0;
    padding: 0em;

    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
}

pre[class*="language-"] .line {
    margin: 0;
    padding: 0em;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* language: cpp */

/* comments */
pre.language-cpp .comment 
{
    color: rgb(128, 128, 128);
}

/* keywords */
pre.language-cpp .keyword,
pre.language-cpp .boolean 
{
	color: rgb(206, 136, 70);
}

/* strings */
pre.language-cpp .string,
pre.language-cpp .char
{
    color: rgb(106, 135, 89);
}

/* preprocessor directives */
pre.language-cpp .macro.property.directive-hash,
pre.language-cpp .macro.property.directive
{
    color: rgb(187, 181, 41);
}
pre.language-cpp .macro.property.macro-name
{
    color: 	rgb(144, 139, 37);
}
pre.language-cpp .plain.undefined,
pre.language-cpp .number.undefined,
pre.language-cpp .string.undefined,
pre.language-cpp .char.undefined,
pre.language-cpp .comment.undefined,
pre.language-cpp .punctuation.undefined,
pre.language-cpp .operator.undefined,
pre.language-cpp .keyword.undefined,
pre.language-cpp .base-clause.keyword.undefined,
pre.language-cpp .base-clause.class-name.undefined,
pre.language-cpp .base-clause.operator.undefined,
pre.language-cpp .class-name.undefined,
pre.language-cpp .namespace-name.undefined,
pre.language-cpp .function.undefined,
pre.language-cpp .member-variable.undefined,
pre.language-cpp .macro.property.directive-hash.undefined,
pre.language-cpp .macro.property.directive.keyword.undefined,
pre.language-cpp .macro.property.macro-name.undefined,
pre.language-cpp .macro.property.expression.undefined,
pre.language-cpp .macro.property.expression.punctuation.undefined
{
    color: 	rgb(104, 106, 78);
}

/* functions */
pre.language-cpp .function 
{
    color: 	rgb(255, 198, 109);
}

/* class names */
pre.language-cpp .class-name,
pre.language-cpp .namespace-name
{
    color: rgb(181, 182, 227);
}

/* numbers */
pre.language-cpp .number,
pre.language-cpp .symbol
{
    color: rgb(104, 151, 187);
}

pre.language-cpp .constant,
pre.language-cpp .member-variable
{
    color: rgb(152, 118, 170);
}

/* diff */
pre.language-cpp .diff.added {
    background-color: rgb(41, 68, 54);
    min-width: 1ch;
    max-width: 1ch;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
}