  .project-container {
    display: flex;
    flex-flow: column nowrap;
    margin: 0% auto;
    flex-basis: 100%;
    max-width: 1000px;
  }
  
  .project-entry {
    display: flex;
    flex: 1;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px -8px #cfcfcf;
  }

  .project-entry:hover {
    cursor: pointer;
  }

  .project-image {
    flex: 1 0 60%;
  }

  .project-text {
    flex: 1 0 40%;
    text-align: center;
  }

  .project-text h3 {
    font-weight: 500;
    font-size: 30px;
  }

  .project-text p {
    font-weight: 300;
    font-size: 20px;
  }

  @media only screen and (min-width: 640px) {
    .project-entry {
      flex-direction: row;
    }
  }
  