  .project-container {
    display: flex;
    flex-flow: column nowrap;
    margin: 0% auto;
    flex-basis: 100%;
    max-width: 1000px;
  }
  
  .project-entry {
    display: flex;
    flex-flow: column-reverse nowrap;
    border-radius: 15px;
    box-shadow: 0 0px 0px 25px (0.0, 0.0, 0.0, 0.1);
    background-color: tomato;
    margin-bottom: 20px;
    transition: 0.25s;
  }

  .project-entry:hover {
    cursor: pointer;
  }

  .project-image {
    flex: 1 0 60%;
    border-radius: 15px 0px 0px 15px;
  }

  .project-text {
    flex: 1 0 40%;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
  }

  @media only screen and (min-width: 640px) {
    .project-entry {
      flex-direction: row;
    }
  }
  