.panel-item-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}

@media only screen and (min-width: 640px) {
  .panel-item.col6, .panel-item.col4, .panel-item.col3, .panel-item.col2 {
      flex-basis: calc(50% - 30px);
  }
}

@media only screen and (min-width: 1220px) {
  .panel-item.col8 {
      flex-basis: calc(66.66% - 30px);
  }
  
  .panel-item.col4, .panel-item.col3, .panel-item.col2 {
      flex-basis: calc(33.33% - 30px);
  }
}

@media only screen and (min-width: 1540px) {
  .panel-item.col3, .panel-item.col2 {
      flex-basis: calc(25% - 30px);
  }
}

@media only screen and (min-width: 2200px) {
  .panel-item.col2 {
      flex-basis: calc(16.6% - 30px);
  }
}