.project {
  background-color: tomato;
  box-sizing: border-box;
  padding: 20px;
  height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.project p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}