
.resume {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  max-width: 960px;

  align-items: center;
  margin: 0% auto;
}

.resume img {
  width: 100%;
  margin-top: -20px;
}