
.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 15px;

    background-color: white;
    box-shadow: none;
    transition: box-shadow 0.15s;
    padding: 50px;
    border-radius: 5px;

    .title {

    }

    .abstract {

    }

    .date {

    }


}
.card:hover {

}

.abstract {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.meta {

}