
@media only screen and (min-width: 640px) {

    .sidebar-tags {
        display: flex;
        flex-direction: column;
        font-family: "Noto Serif", serif;
        font-weight: 400;
        row-gap: 10px;
    }

    .sidebar-tags-header {
        display: flex;
        align-items: baseline;

        flex-direction: row;
        column-gap: 20px;

        .title {
            font-size: 24px;
        }
    }

    .sidebar-tags-elements {

    }
    .sidebar-tags-elements.selected i {
        /* translate the icon slightly down to account for tags being all lowercase */
        transform: translateY(7%);
    }

}