
@media(min-width: 0px) {

    .header {
        display: flex;
        flex-direction: column;

        row-gap: 40px;

        max-width: 15%;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        max-width: 960px;
        row-gap: 40px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;

        max-width: 16%;
        width: 100%;

        row-gap: 40px;
    }
}