@media(min-width: 0px) {

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        width: 100vw;
        height: 100vh;
    }

    .content-container {
        display: flex;
        flex-direction: column;

        position: absolute;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
    }

    .title-container .title {
        font-size: 9vw;
        font-weight: 600;
        letter-spacing: 1.4px;
        color: white;
        text-transform: uppercase;
    }

    .title-container .description {
        font-family: 'Roboto Mono';
        text-transform: uppercase;
        font-size: 22px;
        color: white;
        letter-spacing: 1.2px;
    }

    /* .cover-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cover-image {
        position: relative;
        width: 100%;
    }


    .content-container {
        position: absolute;

        align-content: center;
        align-items: center;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: center;

        column-gap: 50px;
    }

    .navbar-element {
        color: white;
    }

    .background-image {
        width: 100%;
    }

    .site-content {
        text-transform: uppercase;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        width: 100%;

        font-family: 'Poppins';
        font-weight: 800;
        color: white;
    }

    .site-name {
        margin-left: auto;
        margin-right: auto;
        font-size: 160px;
        text-align: center;
    }

    .site-description {
        letter-spacing: 2.2px;
        font-family: 'Roboto Mono';
        font-weight: 600;
        font-size: 22px;
    }

    .head {

        max-width: 1536px;
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }

    .nav {
        display: flex;
        flex-direction: row;

        column-gap: 50px;
    }

    .site {
        display: flex;
        flex-direction: row;

        justify-content: center;

        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    
        font-family: 'Lato', 'sans-serif';
    
        max-width: 1536px;
    
        column-gap: 40px;
        padding: 20px;
    }

    .header {
        display: flex;
        flex-direction: column;

        row-gap: 40px;

        max-width: 15%;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        max-width: 960px;
        row-gap: 40px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;

        max-width: 16%;
        width: 100%;

        row-gap: 40px;
    } */
}