@media(min-width: 0px) {
    .post {
        display: flex;
        flex-direction: row;
    }

    .post-content {
        display: flex;
    }

    .post-sidebar {
        display: flex;
        flex-direction: column;
    }
}