@media(min-width: 0px) {

    .projects-header {
        position: absolute;
        top: 0;

        z-index: 100;

        /* Center */
        left: 0;
        right: 0;

        margin-left: auto;
        margin-right: auto;
    }

    .projects-content {
        background-color: #1a191d;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: 40px;
    }

    .projects-cover {
        /* Background image */
        background-position: center center;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects-title-container {
        z-index: 50;

        display: flex;
        flex-direction: column;

        /* Center in the middle of the page */
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 100vh;
    }

    .projects-title {
        font-size: 9vw;
        font-weight: 600;
        letter-spacing: 1.4px;
        color: white;
        text-transform: uppercase;
    }

    .projects-description {
        font-family: 'Roboto Mono';
        text-transform: uppercase;
        font-size: 22px;
        color: white;
        letter-spacing: 1.2px;
    }

    .overlay {
        position: absolute;
        background-color: transparent;
        background-image: linear-gradient(180deg, rgb(0, 0, 0, 0) 0%, #00000012 40%, #1a191d 100%);
        opacity: 1;
        color: white;

        top: 0;
        left: 0;
        position: absolute;

        width: 100%;
        height: 100vh;
    }

    .projects-list {
        background-color: #1a191d;
        opacity: 1;

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        justify-content: center;
    }

    .project-entry {
        font-size: 50px;
        color: white;

        padding: 20px 60px;
    }


    .featured-projects-list-header {
        font-size: 40px;
        color: white;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100%;
        max-width: 1536px;
        column-gap: 20px;

        padding: 40px;
    }

    .featured-projects-list-title {
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

    .separator {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid #28282b;
        margin: auto;
    }


    /* Featured project components */

    .featured-projects-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .featured-project {
        position: relative;

        align-items: center;
        width: 1000px;
        height: 550px;

        border-radius: 10px;
        overflow: hidden;

        user-select: none;
    }

    .featured-project-images {
        display: flex;
        flex-direction: row;

        width: 100%;

        transition: 0.3s;
    }

    .featured-project-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

    .featured-project-content {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

        padding: 40px;
    }

    .featured-project-banner {
        color: gray;
        font-family: 'Roboto Mono';

        display: flex;
        flex-direction: row;
    }

    .featured-project-header {
        display: flex;
        flex-direction: row;

        align-items: center;

        column-gap: 15px;
    }

    .featured-project i {
        color: white;
    }

    .featured-project-title {
        display: flex;

        color: white;
        font-size: 28px;

        /* margin-bottom: 10px; */
    }

    .featured-project-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-left: 10px;
        padding-right: 2px;

        column-gap: 10px;

        border: 1px gray solid;

        border-radius: 400px;
    }

    .featured-project-info-text {
        color: gray;
        font-size: 14px;
    }

    .featured-project-info {
        width: 22px;
        height: 22px;
        margin: 2px;

        fill: gray;
        stroke: gray;
        stroke-width: 0.1;
    }

    .featured-project-info::before {
        display: flex;

        content: '';
        width: 24px;

        border-radius: 400px;

        border: 1px solid white;
    }

    .featured-project-info:hover {
        fill: orange;
        stroke: gray;
    }

    .featured-project-link {
        padding: 10px;
        color: gray;
    }

    .featured-project-description {
        display: none;
        color: rgb(212, 212, 212);
    }

    .featured-project-more {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        column-gap: 10px;

        border: 1px solid gray;
        border-radius: 5px;

        margin-top: 20px;
        padding: 10px;

        transition: 0.2s;
    }

    /* 

    .featured-project-overlay {
        position: absolute;
        top: 0;

        height: 100%;

        display: flex;
        flex-direction: column;
        background-color: rgb(39, 38, 44, 0.5);

        padding: 40px;

        row-gap: 10px;
    }

    .featured-project-overlay-header {
        color: white;
        font-size: 24px;
    }

    .featured-project-overlay-description {
        color: gray;
    }

    .featured-project-overlay-tools {
        display: flex;
        flex-direction: row;

        column-gap: 20px;
    }

    .featured-project-overlay-tool {
        color: gray;
        font-family: 'Roboto Mono';
    } */



    .featured-project-learn,
    .featured-project-arrow {
        color: gray;
    }

    .featured-project-navigation {
        position: absolute;
        top: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .featured-project-navigation-arrows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding-left: 10px;
        padding-right: 10px; */

        z-index: 999;
    }

    .featured-project-navigation-previous,
    .featured-project-navigation-next {
        color: white;
        font-size: 16px;
        transition: 0.2s;

        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 20px;
        height: 100%;

        padding: 20px;
        /* border-radius: 50%; */
    }

    .featured-project-navigation-previous:hover,
    .featured-project-navigation-next:hover {
        background-color: rgb(138, 138, 138, 0.5);
        cursor: pointer;
    }

    .featured-project-navigation-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 30px;

        box-sizing: border-box;

        width: 100%;
        padding: 20px;

        position: absolute;
        bottom: 0;
    }

    .featured-project-navigation-button {
        z-index: 100;
        /* Needs to show up above other overlapping elements */
        width: 12px;
        height: 12px;

        border: 1px solid white;
        border-radius: 50%;

        transition: 0.2s;

        color: white;
    }

    .featured-project-navigation-button:hover {
        cursor: pointer;
        background-color: gray;
    }

    .featured-project-navigation-button-current {
        background-color: white;
    }

    .featured-project-navigation-button-current:hover {
        background-color: white;
        cursor: pointer;
    }

    .featured-project-overlay {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: row;

        background-color: rgb(39, 38, 44, 0.5);
        padding: 40px;

        width: 1500px;

        z-index: 1000;
    }


    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .featured-project-overlay-images {
        display: flex;
        flex-direction: row;
        width: 100%;
        transition: 0.3s;
    }

    .featured-project-overlay-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }
















    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
        position: relative;

        width: 100%;
        max-width: 1000px;

        margin: 0;
        padding: 0;

        margin-bottom: 20px;
    }

    .project {
        display: flex;
        flex-direction: column;

        row-gap: 20px;

        padding: 25px;

        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08),
            0px 0px 2px rgba(0, 0, 0, 0.12),
            0px 0px 1px rgba(0, 0, 0, 0.08);

        background-color: #1e1d22;
        border: solid 1px #27262c;

        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 200px;
    }

    .project:hover {}

    .project-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .project-title {
        color: white;
        font-size: 25px;
    }

    .project-icon {
        color: orange;
        font-size: 32px;
    }

    .project-link {
        color: orange;
        font-size: 16px;
    }

    .project-description {
        color: #8a8a8a;
        font-size: 14px;
    }

    .project-tools {
        display: flex;
        flex-direction: row;

        margin-bottom: 10px;
        column-gap: 15px;
    }

    .project-tool {
        color: gray;
        font-size: 14px;
        font-family: 'Roboto Mono';
    }

    .projects-grid-header {
        font-size: 40px;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        max-width: 1536px;
        column-gap: 20px;

        padding: 40px;
    }

    .projects-grid-header a {
        color: orange;
        /* text-decoration: none; */
        font-size: 18px;
    }

    .project-grid-title {
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

}