@project-entry-height: 550px;
@project-entry-width: 1000px;

@overlay-height: 1500px;
@overlay-width: 600px;



.image-container > {
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    .image-showcase > {
        height: inherit;
        width: inherit;

        // transition: transform 0.3s ease-in-out;

        .images > {
            height: inherit;

            display: flex;
            flex-direction: row;
    
            img {
                flex-shrink: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &.transitioning {
            transition: transform 0.3s ease-in-out;
        }
    }
    
    .image-navigation > {
        position: absolute;
        top: 0;
    
        width: inherit;
        height: inherit;

        .arrows > {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            height: inherit;

            .arrow > {
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                padding-left: 15px;
                padding-right: 15px;

                margin: 20px;
                border-radius: 10px;
    
                background-color: rgba(0, 0, 0, 0);
                transition: background-color 0.2s ease-in-out;
    
                // Make it appear above featured project banner
                z-index: 5;
    
                i {
                    color: white;
                    font-size: 18px;
    
                    transition: color 0.2s ease-in-out;
                }
    
                &:hover {
                    cursor: pointer;
                    background-color: rgba(180, 180, 180, 0.2);
                }
            }
        }
    }

    .image-captions > {
        position: absolute;
    
        .caption > {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
    
            .title {
                color: white;
            }
    
            .description {
                color: gray;
            }
    
            &.active {
                opacity: 1;
            }
        }
    }
}







.featured-project > {
    @project-entry-height: 550px;
    @project-entry-width: 1000px;

    width: @project-entry-width;
    height: @project-entry-height;

    border-radius: 10px;
    overflow: hidden;

    position: relative;
    display: flex;
    flex-direction: column;

    // .buttons > {
    //     position: absolute;
    //     bottom: 0;

    //     padding-top: 30px;
    //     padding-bottom: 30px;

    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;

    //     width: @project-entry-width;

    //     column-gap: 35px;

    //     .button {
    //         z-index: 5;

    //         width: 12px;
    //         height: 12px;

    //         border: 1px solid white;
    //         border-radius: 50%;

    //         transition: 0.2s;

    //         color: white;
    //     }

    //     .button-current {
    //         background-color: white;
    //     }
    // }

    .banner > {
        position: absolute;
        bottom: 0;

        padding: 60px;

        .title {
            font-family: 'Roboto Mono';
            color: gray;

            text-transform: uppercase;
        }

        .header > {
            display: flex;
            flex-direction: row;

            align-items: center;

            column-gap: 15px;

            .title {
                color: white;
                font-family: 'Roboto Slab';
                text-transform: none;
                font-size: 32px;
            }

            .info > {
                display: flex;
                flex-direction: row;

                // Center
                justify-content: center;
                align-items: center;

                // Border
                border-radius: 50%;
                border: 2px solid gray;

                width: 21px;
                height: 21px;

                transition: border-color 0.2s ease-in-out;

                i {
                    font-size: 14px;
                    color: gray;

                    transition: color 0.2s ease-in-out;
                }

                // Change color of border + icon simultaneously
                &:hover >,
                &:hover i {
                    border-color: cadetblue;
                    color: cadetblue;
                }
            }
        }
    }

    .overlay-container > {
        // Fullscreen.
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: 10;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, 0.0);
        transition: background-color 0.2s ease-in-out;

        &.open {
            background-color: rgba(0, 0, 0, 0.5);
        }

        &.hidden {
            display: none;
        }

        .overlay > {
            width: 90%;
            max-width: 1600px;
            height: 600px;

            display: grid;
            grid-template-columns: repeat(8, 1fr);
            background-color: rgba(39, 38, 44, 0.7);

            overflow: hidden;

            .image-container {
                grid-row-start: 1;
                grid-row-end: 1;

                grid-column-start: 1;
                grid-column-end: 6;
            }

            .content {
                position: relative;
        
                margin: 30px;
        
                display: flex;
                flex-direction: column;
        
                grid-column-start: 6;
                grid-column-end: -1;
        
                grid-row-start: 1;
                grid-row-end: 1;
        
                max-height: 500px;
                flex-basis: 100%;
            }
        }
    }
}