
.post-container {
    display: flex;
    justify-content: center;
    flex: 1;
    overflow-y: scroll;
    box-sizing: border-box;
}

.post-container .navigation {
    position: sticky;
    top: 0;

    flex: 1;
    padding: 40px;
    box-sizing: border-box;
}

.post-container .bumper {
    flex: 1;
}

.post {
    height: 100vh;

    font-family: "Noto Serif", serif;
    font-weight: 300;
    font-size: 18px;

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

    box-sizing: border-box;
    max-width: 1200px;
}



.post.mobile {
    row-gap: 0;
    overflow-y: scroll;
    padding-bottom: 60px;
}

.post .panel {
    display: flex;
    width: 100%;
    max-width: 800px;
}

/* Same as an hr with 20px of padding on either side */
.post > .separator {
    width: 1200px;
    border-bottom: 1px solid gainsboro;
}

.post .header {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    justify-content: center;
    width: 100%;
    padding-top: 40px;

    box-sizing: border-box;
}

.post-container .navigation .back {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    padding: 12px 24px;
}
.post-container .navigation .back i {
    color: gray;
    transition: color 0.15s;
}
.post-container .navigation .back span {
    color: gray;
    transition: color 0.15s;

    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    font-weight: 200;
}
.post-container .navigation .back:hover {
    cursor: pointer;
}
.post-container .navigation .back:hover i,
.post-container .navigation .back:hover span {
    color: gainsboro;
}
.post .header .title {
}
.post .header .title > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.post .header .metadata {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 10px;
    column-gap: 40px;

    font-size: 0.85em;
}
.post .header .metadata .separator {
    border-color: gray;
}
.post.mobile .header .metadata .separator {
    border-color: gray;
}

.post.mobile .header {
    padding: 20px;
}

.post.mobile .body {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.post.mobile .header .title {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.post.mobile .header .title > span {
    font-size: 7vw;
}

/* Desktop */
.post p,
.post li {
    font-size: 18px;
}
.post h1 {
}
.post h2 {
    font-size: 28px;
    padding-top: 16px;
    padding-bottom: 8px;
}
.post h3 {
    font-size: 22px;
    padding-top: 12px;
    padding-bottom: 6px;
}
.post pre {
    padding: 16px 0;
    width: 99%;
    justify-self: center;
}
.post ol,
.post ul {
    padding-bottom: 16px;
    padding-top: 16px;
}

/* Mobile */
.post.mobile p,
.post.mobile li {
    font-size: 3.8vw;
}
.post.mobile h1 {
}
.post.mobile h2 {
    font-size: 5.5vw;
    padding-top: 6vw;
    padding-bottom: 3vw;
}
.post.mobile h3 {
    font-size: 4.6vw;
    padding-top: 4.5vw;
    padding-bottom: 2.25vw;
}
.post.mobile pre {
    padding: 3vw 0;
}
.post.mobile pre {
    padding: 3vw 0;
    font-size: 4vw;
}
.post.mobile ol,
.post.mobile ul {
    padding-bottom: 3vw;
    padding-top: 3vw;
}

.post p,
.post ul,
.post ol,
.post pre,
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    margin: 0;
}

.post hr {
    border: 0;
    border-bottom: 1px solid gainsboro;
    margin: 20px 0;
}

.post p {
    padding: 5px 0;
}

.inline {
    color: rgb(73, 73, 73);
    word-break: break-all;

    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
}

.post .body {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding-bottom: 80px;
}

.post.mobile .body {
}

.post .body .section {
}

.post .headers {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 20px;
    height: fit-content; /* Prevents it from stretching */
    padding-left: 20px;
    padding-right: 20px;

    width: 300px;
}

.section-header {
    font-weight: inherit;
    transition: 0.1s;
}

.section-header.active {
    font-weight: bold;
}

.post.mobile .header .metadata {
    font-size: 14px;
    flex-direction: column;
    padding: 0;
    padding-top: 16px;
}
