
.post {
    overflow-y: scroll;
    height: 100vh;

    font-family: "Noto Serif", serif;
    font-weight: 300;
    font-size: 18px;

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

    box-sizing: border-box;
    width: 100%;
}

.post.mobile {
    row-gap: 0;
}

.post.mobile > .separator {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid gainsboro;
}

.post .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.post .header .back {
    margin: auto auto;
}
.post .header .back i {
    color: gray;
    transition: color 0.15s;
}
.post .header .back span {
    color: gray;
    transition: color 0.15s;

    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
    font-weight: 200;

    padding: 5px 15px;
}
.post .header .back:hover {
    cursor: pointer;
}
.post .header .back:hover i,
.post .header .back:hover span {
    color: gainsboro;
}
.post .header .title {
    padding: 36px 72px;
}
.post .header .title > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.post .header .metadata {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 10px;
    column-gap: 40px;

    font-size: 0.85em;
}
.post .header .metadata .separator {
    border-color: gray;
}

.post.mobile .header {
    padding: 20px;
}

.post.mobile .body {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.post.mobile .header .title {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.post.mobile .header .title > span {
    font-size: 7vw;
}

.post.mobile p,
.post.mobile li {
    font-size: 3.8vw;
}
.post.mobile h1 {
}
.post.mobile h2 {
    font-size: 5.5vw;
    padding-top: 6vw;
    padding-bottom: 3vw;
}
.post.mobile h3 {
    font-size: 4.6vw;
    padding-top: 4.5vw;
    padding-bottom: 2.25vw;
}
.post.mobile pre {
    padding: 3vw 0;
    font-size: 4vw;
}

.post p,
.post ul,
.post pre,
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    margin: 0;
}

.post hr {
    border: 0;
    border-bottom: 1px solid gainsboro;
    margin: 20px 0;
}

.post p {
    padding: 5px 0;
}

.inline {
    color: rgb(73, 73, 73);
    word-break: break-all;

    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
}

.post .body {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.post.mobile .body {
}

.post .body .section {
}

.post .headers {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 20px;
    height: fit-content; /* Prevents it from stretching */
    padding-left: 20px;
    padding-right: 20px;

    width: 300px;
}

.section-header {
    font-weight: inherit;
    transition: 0.1s;
}

.section-header.active {
    font-weight: bold;
}

.post.mobile .metadata {
    font-size: 14px;
    flex-direction: column;
    padding: 0;
    padding-top: 16px;
}
