
@media only screen and (min-width: 640px) {

    .archive {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .archive-header {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        column-gap: 20px;

        font-family: "JetBrains Mono";
        font-size: 24px;
    }

    .archive-elements {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

}