
.card {
    display: flex;
    flex-direction: column;
    padding: 50px;

    background-color: white;

    .title {
        margin: 0;
        font-family: "Roboto Mono";
        font-size: 32px;
    }

    .abstract {
        font-family: "Roboto Mono";
        font-size: 16px;
    }

    .date {
        font-family: "JetBrains Mono";
    }

    .categories {
        display: flex;
        flex-direction: row;
        column-gap: 20px;

        p {
            margin: 0;
            font-family: "Roboto Mono";
            color: gray;
            transition: 0.15s;
        }
        p::before {
            content: "#";
        }
        p:hover {
            cursor: pointer;
            color: moccasin;
        }

    }
}