
@media(min-width: 0px) {

    .categories-container {
        display: flex;
        flex-direction: column;

        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
                    0px 0px 2px rgba(0, 0, 0, 0.06),
                    0px 0px 1px rgba(0, 0, 0, 0.04);
    }

    .categories-container-header {
        display: flex;
        flex-direction: row;

        padding: 18px 25px;

        border-bottom: solid;
        border-width: 1px;
        border-color: lightblue;
    }

    .categories-container-title {
        font-family: 'Playfair Display';
        font-size: 24px;
        font-weight: 500;
    }

    .categories-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        padding: 18px 25px;
        gap: 10px;
    }

    .category {
        color: inherit;
        text-decoration: none;

        display: flex;
        flex-direction: row;

        column-gap: 10px;
    }

    .category-name {
        display: flex;
    }

    .category-count {
        color: lightgray;
    }

}