.expression {
    // padding-left: 2vw;
    // padding-right: 16ch;

    display: flex;
    flex-direction: row;
    align-items: center;

    white-space: pre-wrap;
    align-items: baseline;

    width: 58%;
    padding-bottom: 20px;
}

.expression-element {
    font-weight: 200;
    font-family: 'JetBrains Mono';
    font-size: 1.2vw;
    color: gray;
    white-space: pre;

    &.highlighted {
        color: white;
        font-weight: 300;
    }
    &.comment {
        color: rgb(53, 53, 53);
    }
}