
.icon-container {
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.icon {
    font-size: 25px;
    color: gray;
    transition: 0.2s;
}

.icon:hover {
    cursor: pointer;

    color: lightblue;
    transition: 0.2s;
}



