.navbar {
  display: flex;
  flex: 1;
  justify-content: center;
  text-transform: uppercase;
}

.navbar p {
  margin-block-start: 0.4em;
  margin-block-end: 1em;
}

.navbar-element {
  font-family: 'Crimson Text', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #777;
  background: white;
  padding: 4px 12px 4px 12px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navbar-element:hover {
  color: goldenrod;
  cursor: pointer;
}