@media(min-width: 0px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 60px;
        padding: 40px;


        z-index: 60;
        background: 0 0;
        vertical-align: middle;
        left: 0;
        right: 0;

        /* background-color: rgba(0.0, 0.0, 0.0, 0.2); */
    }

    .navbar-element {
        display: flex;
        flex-direction: row;

        column-gap: 40px;

        text-decoration: none;
        color: gray;

        transition: 0.2s;
    }

    .navbar-element:hover {
        cursor: pointer;
        color: gray;
        transition: 0.2s;
    }

    .navbar-element-current,
    .navbar-element-landing
    {
        color: white;
    }

    .navbar-element-icon  {
        font-size: 25px;
    }

    .navbar-element-name {
        font-size: 18px;
    }
}