@media(min-width: 0px) {
    .profile {
        display: flex;
        flex-direction: column;

        gap: 20px;
    }

    .profile img {
        max-width: 100px;
        border-radius: 50%;
    }

    .profile .profile-meta {
        display: flex;
        flex-direction: column;
    }

    .profile-name {
        font-size: 20px;
        font-weight: 500;
    }

    .profile-description {
        font-size: 14px;
        font-weight: 400;
    }

    .profile .profile-socials {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */

        column-gap: 20px;
    }

    .profile .profile-socials a {
        text-decoration: none;
        color: inherit;
    }

    .profile .profile-socials i {
        font-size: 25px;
        color: gray;
    }
}

@media(min-width: 768px) {
}