@media(min-width: 0px) {
    .profile {
        display: flex;
        flex-direction: column;

        gap: 20px;
    }

    .profile img {
        max-width: 100px;
        border-radius: 50%;
    }

    .profile .about {
        margin: 0em;
        padding: 0em;
    }

    .profile .about h1 {
        font-size: 16px;
        font-weight: 600;
    }

    .profile .about h2 {
        font-size: 14px;
        font-weight: 300;
    }

}

@media(min-width: 768px) {
}