@media(min-width: 0px) {

    .search {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        border-bottom: gainsboro solid 1px;
        margin-bottom: 60px;

        i {
            display: flex;
            justify-content: center;
            align-items: center;

            background: transparent;
            border: none;
            color: black;

            padding: 15px;

            font-size: 20px;
        }
        .search-button {
            color: gainsboro;
        }
        .clear-button {
            transition: 0.15s;
        }
        .clear-button:hover {
            cursor: pointer;
            color: gray;
        }

        .search-bar {
            display: flex;
            flex-direction: row;
            flex: 1;
            background: none;
            font-size: 16px;
            border: none;
            font-family: "JetBrains Mono";
            padding-left: 10px;
        }
        .search-bar:focus {
            outline: none;
        }
        input:hover {
            content: "";
        }


    }

}