
@media(min-width: 0px) {

    .tags-container {
        display: flex;
        flex-direction: column;

        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
                    0px 0px 2px rgba(0, 0, 0, 0.06),
                    0px 0px 1px rgba(0, 0, 0, 0.04);
    }

    .tags-container-header {
        display: flex;
        flex-direction: row;

        padding: 18px 25px;

        border-bottom: solid;
        border-width: 1px;
    }

    .tags-container-title {
        font-family: 'Playfair Display';
        font-size: 24px;
        font-weight: 500;
    }

    .tags-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        padding: 18px 25px;

        gap: 10px;
    }

    .tag {
        color: inherit;
        text-decoration: none;

        display: flex;
        flex-direction: row;
    }

    .tag-name {
        display: flex;
        flex-grow: 1;
    }
}