
@media only screen and (min-width: 640px) {

    .tags {
        display: flex;
        flex-direction: column;
        font-family: "JetBrains Mono";
        row-gap: 10px;
    }

    .tags-header {
        display: flex;
        flex-direction: row;
        column-gap: 20px;

        .title {
            font-size: 24px;
        }

        .clear-button {
            display: flex;
            flex-direction: row;

            column-gap: 10px;
            margin-top: 3px;

            align-items: center;

            color: gainsboro;
            text-transform: uppercase;

            font-size: 16px;

            cursor: pointer;
        }
    }

    .tags-elements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 15px;

        min-width: 100%;
        max-width: 100%;

        font-family: "JetBrains Mono";
        font-size: 16px;
    }
    .tags-elements.selected {
    }

    .tag {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        padding: 5px;

        color: black;
        transition: color 0.15s;
    }
    .tag:hover {
        cursor: pointer;
        color: gainsboro;
    }
    .tag.selected {
        color: orange;

        i {
            font-size: 16px;
            color: gainsboro;
            align-self: center;
            transition: color 0.15s;
        }
    }
    .tag.selected:hover {
        color: gainsboro;
        i {
            color: red;
        }
    }

}