
@media only screen and (min-width: 640px) {

    .tags {
        display: flex;
        flex-direction: column;
        font-family: "JetBrains Mono";
        row-gap: 10px;
    }

    .tags-header {
        display: flex;
        align-items: baseline;

        flex-direction: row;
        column-gap: 20px;

        .title {
            font-size: 24px;
        }
    }

    .tags-elements {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        flex-wrap: wrap;
        column-gap: 15px;

        min-width: 100%;
        max-width: 100%;

        font-family: "JetBrains Mono";
        font-size: 16px;
    }
    .tags-elements.selected i {
        /* translate the icon slightly down to account for tags being all lowercase */
        transform: translateY(7%);
    }

}