
.featured-project {
    position: relative;

    // Native viewport size: 2580px
    width: 70.313vw; // 1800px 
    height: 28.125vw; // 720px

    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.featured-project-content {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 30px;

    overflow: hidden;

    margin-top: 20px;
    margin-bottom: 20px;

    grid-row-start: 1;
    grid-row-end: 1;

    &.justify-right {
        grid-column-start: 6;
        grid-column-end: -1;

        .featured-project-header {
            align-items: end;

            .featured-project-index {
                left: 20px;
            }
        }
    }

    &.justify-left {
        grid-column-start: 1;
        grid-column-end: 3;

        .featured-project-header {
            align-items: start;

            .featured-project-index {
                right: 20px;
            }
        }
    }

    // background-color: rgba(39, 38, 44, 1);
}

.featured-project-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    padding-top: 50px;
    padding-bottom: 50px;
}

.featured-project-index {
    position: absolute;

    top: 50%;
    margin: auto 0;
    transform: translateY(-50%);

    z-index: 3;

    font-family: 'Montserrat';
    font-size: 7.031vw;
    font-weight: 500;
    color: rgb(65, 65, 65);
}

.featured-project-title {
    z-index: 4;

    color: white;
    font-family: 'Roboto Slab';

    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.1px;
}

.featured-project-duration {
    z-index: 4;

    color: rgb(189, 189, 189);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
}

.featured-project-description {
    color: gainsboro;

    flex-grow: 1;
    overflow: auto;

    font-size: 16px;
    font-weight: 300;

    letter-spacing: 0.3px;

    margin-bottom: 30px;
    padding-right: 20px;
}

.featured-project-cta {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 20px;

    padding: 15px 20px;
    margin: auto;

    border: 1px solid gray;
    border-radius: 2px;

    background-color: rgba(138, 138, 138, 0);
    transition: background-color 0.1s ease-in-out;

    // 'Read More' text
    span {
        font-family: 'Roboto Slab';
        text-transform: uppercase;

        color: gray;
        transition: color 0.1s ease-in-out;
    }

    // arrow icon
    i {
        color: gray;
        transition: color 0.1s ease-in-out;
    }

    &:hover {
        background-color: rgba(138, 138, 138, 0.6);
    }

    &:hover,
    &:hover span,
    &:hover i {
        cursor: pointer;
        color: gainsboro;
    }
}