.blog-post-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
}

.blog-post-entry {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 700px;
    align-items: center;

    /* border: solid 1px #cfcfcf; */
    /* border-radius: 10px; */

    border-top: solid 1px #cfcfcf;

    letter-spacing: 0.5px;

    margin-block-start: 1em;
    margin-block-end: 1em;
}
.blog-post-entry-first {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 700px;
    align-items: center;

    /* border: solid 1px #cfcfcf; */
    /* border-radius: 10px; */

    letter-spacing: 0.5px;

    margin-block-start: 0em;
    margin-block-end: 1em;
}
.blog-post-entry-title {
    font-weight: 300;
    font-size: 25px;
    text-align: center;

    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    transition: 0.2s;
}
.blog-post-entry-title:hover {
    cursor: pointer;
    color: goldenrod;
}

.blog-post-entry-description {
    color: #cfcfcf;
    font-size: 14px;
    margin-block-start: 0em;
    margin-block-end: 1em;
}

.blog-post-entry-abstract {
    margin-block-start: 0em;
    margin-block-end: 2em;

    font-size: 14px;

    margin-left: 20px;
    margin-right: 20px;
}

.blog-post-entry-button {
    color:#858585;
    background: #FFFFFF;

    border-radius: 5px;

    height: 40px;
    width: 200px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 1.1px;
    border: solid 1px #A5A5A5;
    transition: 0.2s;
    padding: 4px 12px 4px 12px;
}
.blog-post-entry-button:hover {
    color:#353535;
    border: solid 1px #353535;
    transition: 0.2s;
    cursor: pointer;
}

@media only screen and (min-width: 480px) {
    .blog-post-entry-title {
        font-size: 30px;
    }
    .blog-post-entry-description {
        font-size: 16px;
    }
    .blog-post-entry-abstract {
        font-size: 16px;
        font-weight: 300px;
    }
}