body {
    margin: 0;
}

.root {
    /* background: #fbfbfb; */
    
    /* display: flex;
    flex-direction: column;

    box-sizing: border-box; */

    font-family: 'Lato', 'sans-serif';

    /* column-gap: 40px; */
}