$aos-distance: 20px;
@import 'node_modules/aos/src/sass/aos.scss';

body {
    margin: 0;
    overflow-x: hidden;
}

.root {
    /* background: #fbfbfb; */
    
    /* display: flex;
    flex-direction: column;

    box-sizing: border-box; */

    font-family: 'Roboto Slab';

    /* column-gap: 40px; */
}