
.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100vh;
}

.landing::before,
.landing::after {
    content: "";
    flex: 1;
}
.landing::before {
    background-color: white;
}
.landing::after {
    background-color: #eeeeee;
}

.landing > .sidebar {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: right;
    margin: 80px;

    min-width: 360px;
    max-width: 360px;
}

.landing > .sidebar > .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 30px;
}

.landing > .sidebar > .content > .masthead {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: "Noto Serif", serif;
    color: black;
    text-decoration: none;

    .title {
        margin: 0;
        font-weight: 400;
        font-size: 36px;
    }

    .description {
        font-size: 18px;
        font-family: "Noto Serif", serif;
        font-weight: 300;
        margin: 0;
        width: 100%;
    }
}

.landing > .sidebar > .footer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 40px;

        i {
            font-size: 25px;
            width: 25px;
            height: 25px;
            text-align: center;
            transition: 0.15s;
            color: gray;
        }
        i:hover {
            cursor: pointer;
            color: #9c9c9c;
        }
    }

    .copyright {
        font-family: "Noto Serif", serif;
        font-weight: 300;
        font-size: 12px;
        color: gray;
        margin: 0;
        text-align: center;
    }
}

.landing > .posts {
    padding: 80px;
    display: flex;
    max-width: 1020px;
}