
.posts {
    background-color: #eeeeee;

    display: flex;
    flex: 1;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: column;
    width: 1024px;

    margin: 0 auto;
    padding: 50px;

    background-color: white;
    border-radius: 5px;
}

.post-header {
    display: flex;
    flex-direction: column;
    column-gap: 200px;
}
.post-title {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 32px;
}

.post-content {

    h1 {
        font-family: "Noto Serif", serif;
    }

}
