---
import BaseLayout from './BaseLayout.astro';

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class="w-full max-w-5xl mx-auto px-6 py-10" data-pagefind-body>
    <slot />
  </main>
</BaseLayout>
